<div class="container px-4 m-4">
  <button class="btn btn-primary btn-sm" (click)="openDialog()">Open dialog</button>
  {{data.path}}
</div>

<div class="container px-4 m-4">
  <button class="btn btn-primary btn-sm" (click)="getTags()">Extract Selected Tags</button>
  {{data.selectedFile.file}}
</div>

<div class="container px-4 m-4">
  <button class="btn btn-primary btn-sm" (click)="getAllTags()">Extract All Tags</button>
  {{data.selectedFile.file}}
</div>

<div class="container px-4 m-4">
  <p>
    fichier
  </p>
  {{data.selectedFile.file}}
</div>

<div class="container px-4 m-4">
  <p>
    Artiste
  </p>
  {{data.selectedFile.tags ? data.selectedFile.tags!.artist : ""}}
</div>
